<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org ">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Spring Bootstrap Starter App</title>
   

     <th:block th:fragment="head">
        <!-- Bootstrap -->
   		<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
 
    </th:block>
    
     <th:block th:fragment="indexhead">
        <!-- Bootstrap -->
   		<link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> 
   		<link rel="stylesheet" href="../assets/css/style.css">  
    </th:block>
    
</head>
<body>

     <nav th:fragment="nav">
       <div class="masthead clearfix">
            <div class="container inner">
              <h3 class="masthead-brand">Spring Boot Template</h3>
              <nav>
                <ul class="nav masthead-nav">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
                </ul>
              </nav>
            </div>
          </div>
             
    </nav>


<th:block th:fragment="footlinks">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</th:block>
</body>
</html>
